.Index {
  display: grid;
  grid-auto-rows: 60px 1fr 220px;
  gap: 24px;
  height: 100%;
  background: linear-gradient(-45deg, #993d1f, #92214c, #135f7b, #16886c);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0 36px;
}

.additionalHeaderElement {
  font-size: 48px;
  font-weight: bold;
  font-family: "Courier New", monospace;
  filter: drop-shadow(4px 4px 12px #2b9eb3);
  padding: 0;
  margin: 20px 0 0 0 ;
  color: #f4f5f9;
}

.footer {
  position: relative;
  background-color: transparent;
  padding: 36px 460px 36px 48px;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.info {
  flex: 0 0 auto;
  max-width: 380px;
}

.videoFrame {
  position: absolute;
  border: 6px solid white;
  //background-color: rgba(17, 24, 39, 0.5);
  width: 326px;
  height: 245px;
  top: -75px;
  right: 55px;
  border-bottom-right-radius: 21%;
  filter: drop-shadow(2px 2px 6px #2b9eb3);
}

.loader,
.loader::before,
.loader::after {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.empty {
  width: 200px;
}

.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;

  //&.aligned {
  //  margin: 0 auto;
  //}

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
  }
  &::before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  &::after {
    left: 3.5em;
  }
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.headline {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  filter: drop-shadow(2px 2px 12px #2b9eb3);
  font-family: Share;
  font-size: 60px;
  font-weight: bold;
  padding: 0;
  margin: 20px 0 0 0 ;
  color: #f4f5f9;

  &.secondLevel {
    font-size: 32px;
    padding-bottom: 0;
  }
}

.text {
  font-family: "Andale Mono";
  font-size: 20px;
  line-height: 150%;
}

.chatWrap {
  max-height: calc(100vh - 36px);
  height: 100%;
  padding: 0;
  max-width: 700px;
  flex: 1 1 auto;
}

.chatTableWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 36px;
  max-height: calc(100% - 72px);
}

.chatTable {
  flex: 1 1 auto;
  padding-bottom: 24px;
  table-layout: auto;
  border-collapse: collapse;

  td {
    vertical-align: top;
    padding-right: 12px;

    &:first-of-type {
      font-weight: bold;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}